<p id="notice"><%= notice %></p>

<h1>Ads Gallery</h1>




  <tbody>
    <% @posts.each do |post| %>

    <div class = "post">

      <div class="post_image">
      <%= link_to (image_tag post.url), post %>
    </div>

     <div class = "post_content">
        <td><%= post.title %></td>
        <td><%= post.description %></td>

        <p>
        <%= post.get_upvotes.size %>
        Likes
        </p>



        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </div>

    </div>

    <% end %>
  </tbody>

<br>

<%= link_to 'New Post', new_post_path %>
